.story-picture{
    background-image: url(../myimg/bg-pic.jpg);
    background-size: cover;
    background-color: antiquewhite;
    grid-column: full-start / col-end 4;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

.story-picture_1{
    width: 100%;
    grid-column: 2 / span 4;
    grid-row: 2 / 4;
}

.story-picture_2{
    width: 125%;
    grid-column: 4 / span 7;
    grid-row: 4 / 6;
    z-index: 200;
}